@import 'vars';

.article__menuImagen {
  border-radius: 10px;
  border-bottom: 1px solid var(--very-light-pink);
  background-color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    margin: 10px 0;
  }
  span {
    background: var(--greiTipo0_1);
    box-shadow: 0 0 10px -1px var(--greiTipo0_6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    &:active {
      background: var(--greiTipo1_3);
      transform: scale(0.8);
    }
    &:hover {
      background: var(--greiTipo1_2);
    }
    img {
      width: 40px;
      vertical-align: top;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  #inputFile {
    display: none;
  }
  &__labelInputFile {
    //background: var(--greiTipo2_2);
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
    user-select: none;
    &:hover {
      outline: 1px solid black;
      background: var(--greiTipo2_1);
    }
    &:active {
      transform: scale(0.8);
    }
  }
  &__imagenPreview {
    outline: 1px solid black;
    margin: 10px;
    width: 100px;
    height: 100px;
  }
  &__subTitle {
    font-size: 12px;
  }
}
.drag {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info{
    font-size: 12px;
    margin: 10px;
  }

  &__image {
    border: 2px dashed green;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: var(--greiTipo1_1);
    }
    &:active {
      background: var(--greiTipo1_2);
      transform: scale(0.9);
    }

    &__preview {
      padding-top: 10px;
    }

    &__message {
      font-size: 12px;
      padding: 10px;
    }
  }

  &__error {
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
  }

  &__save {
    padding: 5px;
  }
  &__inputText {
    margin-bottom: 10px;
  }
}
#drag_fileId {
  display: none;
}
.active {
  background: var(--greiTipo1_1);
}