@import 'src/styles/vars';

.article__menuBorrador {
	border-radius: 10px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: white;
	display: flex;
	padding: 10px;
	justify-content: center;
	width: 100%;

	&__tamano {
		border-bottom: 1px solid var(--very-light-pink);
		background-color: var(--greiTipo0_1);
		border-radius: 10px;
		display: flex;
		align-content: center;
		justify-content: center;
		padding: 5px 20px;
		width: 50%;
		span {
			padding-top: 2px;
		}

		.input {
			width: 40px;
			text-align: right;
			padding-right: 3px;
		}
		.button {
			width: 30px;
		}
	}
}
